.j{ 

margin-top: 110% ; 

}

.active-link{
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
  }
  .tl{
    margin-top: 100px;
  }
  .t2{
    margin-bottom: 50px;
   
    
  }
  .t3{
   
    margin-top: 130px;
  }
  .t4{
   height:80vh;
   
  }
  
  .animate{
    transition: all 0.3s ease-in-out;
  }